header, main, footer{
    border: 1px solid black;
    height: 150px;
    width: 100%;
    margin: 25px;
}

header{
    background-color: lightyellow;
}

main{
    background-color: lightgrey;
}

footer{
    background-color: lightblue;
}