main, nav, header{
    display: flex;
}

header, footer{
    border: 1px solid black;
    width: 100%;
}

header{
    background-color: lightyellow;
    margin-bottom: 25px;
    height: 100px;
    align-items: center;
}

.headerInvisible{
    flex-basis: 25%;
    height: 60px;
}

#headerBox{
    border: 1px solid black;
    background-color: green;
    margin: 30px;
    height: 60px;
    width: 100px;
}

#logIn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: xx-large;
    margin-right: 30px;
}

.smallBox{
    border: 1px solid black;
    height: 25px;
    background-color: pink;
    margin-bottom: 25px;
    margin-left: 25px;
    justify-content: space-between;
    flex-basis: 25%;
    flex-direction: row;
}

#firstBox{
    margin-left: 0px;
}

.invisibleBox{
    background-color: white;
    border: 0px;
}

#lastBox{
    border-radius: 50%; /*circular shape*/
    background-color: green;
    justify-content: right;
    flex-basis: 50px; /*size of the box*/
    margin-left: 15%; /*Keep the circle close to the rigth*/
}

#section01, #section02{
    border: 1px solid black;
    height: 150px;
}

#section01{
    flex-basis: 25%;
    background-color: lightgrey;
    margin-right: 25px;
}

#section02{
    flex-basis: 75%;
    background-color: lightgreen;
    margin-left: 25px;
}

footer{
    background-color: lightblue;
    height: 150px;
    margin-top: 25px;
}
